.Page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  margin-top: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
.Page.A4 {
  width: 21cm;
  height: 29.7cm;
}

@media print {
  .Page,
  body {
    margin: 0;
    box-shadow: 0;
  }
}
