.Sidebar {
  background-color: #282c34;
  color: #999;
  height: calc(100% - 50px);
  text-align: center;
  width: 200px;
  padding: 25px;
}

.Sidebar hr {
  border: 0.5px solid #999;
}

@media print {
  .Sidebar {
    padding: 34px;
  }
}
