.WorkReferenceContact {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.WorkReferenceContact > * {
  margin: 0;
}

.WorkReferenceContact-name {
  font-weight: 500;
}

.WorkReferenceContact-title {
  font-weight: 400;
}
